In [1]:
import pandas as pd
import numpy as np
import pandas as pd
import numpy as np
from sklearn.linear_model import *
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
 
train = pd.read_csv("titanic_train.csv")
test = pd.read_csv("titanic_test.csv")
train.shape
test.shape
# PassengerId – 乗客識別ユニークID
# Survived – 生存フラグ（0=死亡、1=生存）
# Pclass – チケットクラス
# Name – 乗客の名前
# Sex – 性別（male=男性、female＝女性）
# Age – 年齢
# SibSp – タイタニックに同乗している兄弟/配偶者の数
# parch – タイタニックに同乗している親/子供の数
# ticket – チケット番号
# fare – 料金
# cabin – 客室番号
# Embarked – 出港地（タイタニックへ乗った港）

(418, 11)

In [2]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
train_x = train.drop(["Survived", "Name", "Cabin", "Ticket", "PassengerId"], axis=1)
test_x = test.drop(["Name", "Cabin", "Ticket", "PassengerId"], axis=1)

In [6]:
train_y = train["Survived"]
train_y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [7]:
# 欠損値を年齢の中央値。出港地は最多のSで補完
train_x["Age"] = train_x["Age"].fillna(train_x["Age"].median())
train_x["Embarked"] = train_x["Embarked"].fillna("S")

test_x["Age"] = test_x["Age"].fillna(test_x["Age"].median())
test_x["Fare"] = test_x["Fare"].fillna(test_x["Fare"].median())
test_x["Embarked"] = test_x["Embarked"].fillna("S")

In [8]:
train_x.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [9]:
test_x.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [10]:
train_x_dummy = pd.get_dummies(train_x,columns=["Sex","Embarked"])
test_x_dummy = pd.get_dummies(test_x,columns=["Sex","Embarked"])

In [11]:
test_x_dummy

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,34.5,0,0,7.8292,0,1,0,1,0
1,3,47.0,1,0,7.0000,1,0,0,0,1
2,2,62.0,0,0,9.6875,0,1,0,1,0
3,3,27.0,0,0,8.6625,0,1,0,0,1
4,3,22.0,1,1,12.2875,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
413,3,27.0,0,0,8.0500,0,1,0,0,1
414,1,39.0,0,0,108.9000,1,0,1,0,0
415,3,38.5,0,0,7.2500,0,1,0,0,1
416,3,27.0,0,0,8.0500,0,1,0,0,1
417,3,27.0,1,1,22.3583,0,1,1,0,0

In [12]:
test_x_dummy.shape

(418, 10)

In [13]:
X_train, X_test, y_train, y_test = train_test_split(train_x_dummy, train_y, test_size=0.3, random_state=101)

In [14]:
lrg = LinearRegression()
lrg.fit(X_train, y_train)
predictions = lrg.predict(X_test)
np.set_printoptions(suppress=True)
predictions

array([ 0.31424068,  1.11965648,  0.43523551,  0.18733866,  0.23515541,
        0.0071934 ,  0.40974159,  0.11552415,  0.89503146,  0.62452154,
        0.23515541,  0.06147886,  0.69837195,  0.10426354,  0.12861586,
        0.01433132,  0.48682116,  0.14301104,  0.15325298,  0.73963556,
        0.04533434,  0.01739781,  0.6567974 ,  0.62966129, -0.01897635,
        0.23469118,  0.1487466 ,  0.27559937,  0.10340896,  0.0092645 ,
        0.75590661,  0.70194745,  0.65680483,  0.09033918,  0.12519037,
        0.96759847,  0.07189031, -0.00332204,  0.1360029 ,  0.3919854 ,
        0.54872438,  0.62452154,  0.83317087,  0.33739385,  0.18341099,
        0.41003869,  0.00932739,  0.31578514,  0.03983645,  0.23515541,
        0.7396889 ,  0.41069275,  0.70808351,  0.66037643,  0.65680483,
        0.08301479,  0.18139261,  0.14209747,  0.32504668,  1.01746189,
        0.93614423,  0.14134925, -0.04175758,  0.60833951,  0.01234713,
        0.26450495,  0.80548604,  0.52369503,  0.61275813,  0.40732026,
        0.60205542,  0.14895752,  0.16517382,  0.13159689,  0.58183554,
        0.92538798,  0.04981711,  0.09880279,  0.11342665,  0.28216922,
       -0.21019846,  1.01434875,  0.14769889,  0.07777193,  0.72765764,
        0.11514042,  0.16719219,  0.43456587,  0.11150976,  0.64328917,
        0.14722354,  0.56470919,  1.0794714 ,  0.82513265,  0.57154038,
        0.7725334 ,  0.68579042,  0.13738938,  0.14935361,  0.1604657 ,
        0.07236566,  0.78611157,  0.31547954,  0.12277677,  0.52686788,
        0.6298903 ,  0.78728086,  0.89726006,  0.68711066,  0.41300964,
        0.46931243,  0.37525405,  0.26930506,  0.12054669,  0.5921925 ,
        0.42269386,  0.80600196,  0.19113547,  0.25289632,  0.65680483,
        0.40570121,  0.00208423,  0.94354714,  0.12085864,  0.42162541,
        0.0879457 ,  0.47456154,  0.06234532,  0.86719561,  0.28028835,
        1.02119033,  0.69552501,  0.97922571,  0.08012059,  0.05092461,
        0.12324982,  0.03595638,  0.00725282,  0.08308657,  0.81261325,
        0.05605524,  0.62454345,  0.1264283 ,  0.09382732,  0.5601791 ,
        0.08308657,  1.03317538,  0.43611483,  0.03514484,  0.18553282,
        0.7883442 ,  0.62546822,  0.36559359,  0.08308657,  0.15230387,
        0.35876115,  0.64601746,  0.41300964,  0.79597042,  0.99099561,
        0.25909868,  0.14769889,  0.52973313,  0.11011789,  0.60947591,
        0.71925749,  0.08317819,  0.95868627,  0.24317699,  0.29153627,
        0.87588977,  0.13708979,  0.47642207,  0.94377001,  0.08273997,
        0.08317819,  0.84791871, -0.02506344,  0.23515541,  0.26991121,
        0.28334756,  0.0786335 ,  0.92803744,  0.86540082,  0.65703508,
        0.02947949,  0.08308657,  0.53674317, -0.08206733,  0.07760852,
        0.00021882,  0.10420906,  0.19209105,  0.75177786,  0.40793007,
       -0.0087283 ,  0.08270284,  0.59970066,  0.31578514, -0.04134414,
        0.45136636,  0.41172766,  0.05107316,  0.87712758,  0.05598347,
        0.40397845,  0.12087099,  0.54176234,  0.72182782, -0.0963055 ,
        0.32790129,  0.29694253,  0.13167116,  0.13814499,  0.40565752,
        0.21273932,  0.17830757,  0.95747132,  0.08317819,  0.65806345,
        0.69464868,  0.31311482,  0.42281379,  0.29890747,  0.14769889,
        0.45650937,  0.08317819,  0.08317819,  0.12176855,  0.16983786,
        0.16488803,  0.46385918,  0.52499066,  0.63156254,  0.53549238,
        0.13724083,  0.38919445,  0.65680483,  0.71954824,  0.08306185,
        0.57121255,  0.85278269,  0.08302715,  0.11638822,  0.85737305,
        0.71795824,  0.06234532,  0.18023923,  0.80996925,  0.58007731,
        0.30965942,  0.7712352 ,  0.14769889,  0.25601064,  0.00749624,
        0.12394208,  0.09017278,  0.10480325,  0.87976686,  0.14769889,
        0.41990225,  1.23386629,  0.13626671,  0.14768654,  0.67684006,
        0.32715819, -0.03575962,  0.76474409])

In [15]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train_transformed = sc.fit_transform(X_train)
X_test_transformed = sc.transform(X_test)



lrg.fit(X_train_transformed, y_train)
predictions_1 = lrg.predict(X_test_transformed)
np.set_printoptions(suppress=True)
predictions_1

array([ 0.31424068,  1.11965648,  0.43523551,  0.18733866,  0.23515541,
        0.0071934 ,  0.40974159,  0.11552415,  0.89503146,  0.62452154,
        0.23515541,  0.06147886,  0.69837195,  0.10426354,  0.12861586,
        0.01433132,  0.48682116,  0.14301104,  0.15325298,  0.73963556,
        0.04533434,  0.01739781,  0.6567974 ,  0.62966129, -0.01897635,
        0.23469118,  0.1487466 ,  0.27559937,  0.10340896,  0.0092645 ,
        0.75590661,  0.70194745,  0.65680483,  0.09033918,  0.12519037,
        0.96759847,  0.07189031, -0.00332204,  0.1360029 ,  0.3919854 ,
        0.54872438,  0.62452154,  0.83317087,  0.33739385,  0.18341099,
        0.41003869,  0.00932739,  0.31578514,  0.03983645,  0.23515541,
        0.7396889 ,  0.41069275,  0.70808351,  0.66037643,  0.65680483,
        0.08301479,  0.18139261,  0.14209747,  0.32504668,  1.01746189,
        0.93614423,  0.14134925, -0.04175758,  0.60833951,  0.01234713,
        0.26450495,  0.80548604,  0.52369503,  0.61275813,  0.40732026,
        0.60205542,  0.14895752,  0.16517382,  0.13159689,  0.58183554,
        0.92538798,  0.04981711,  0.09880279,  0.11342665,  0.28216922,
       -0.21019846,  1.01434875,  0.14769889,  0.07777193,  0.72765764,
        0.11514042,  0.16719219,  0.43456587,  0.11150976,  0.64328917,
        0.14722354,  0.56470919,  1.0794714 ,  0.82513265,  0.57154038,
        0.7725334 ,  0.68579042,  0.13738938,  0.14935361,  0.1604657 ,
        0.07236566,  0.78611157,  0.31547954,  0.12277677,  0.52686788,
        0.6298903 ,  0.78728086,  0.89726006,  0.68711066,  0.41300964,
        0.46931243,  0.37525405,  0.26930506,  0.12054669,  0.5921925 ,
        0.42269386,  0.80600196,  0.19113547,  0.25289632,  0.65680483,
        0.40570121,  0.00208423,  0.94354714,  0.12085864,  0.42162541,
        0.0879457 ,  0.47456154,  0.06234532,  0.86719561,  0.28028835,
        1.02119033,  0.69552501,  0.97922571,  0.08012059,  0.05092461,
        0.12324982,  0.03595638,  0.00725282,  0.08308657,  0.81261325,
        0.05605524,  0.62454345,  0.1264283 ,  0.09382732,  0.5601791 ,
        0.08308657,  1.03317538,  0.43611483,  0.03514484,  0.18553282,
        0.7883442 ,  0.62546822,  0.36559359,  0.08308657,  0.15230387,
        0.35876115,  0.64601746,  0.41300964,  0.79597042,  0.99099561,
        0.25909868,  0.14769889,  0.52973313,  0.11011789,  0.60947591,
        0.71925749,  0.08317819,  0.95868627,  0.24317699,  0.29153627,
        0.87588977,  0.13708979,  0.47642207,  0.94377001,  0.08273997,
        0.08317819,  0.84791871, -0.02506344,  0.23515541,  0.26991121,
        0.28334756,  0.0786335 ,  0.92803744,  0.86540082,  0.65703508,
        0.02947949,  0.08308657,  0.53674317, -0.08206733,  0.07760852,
        0.00021882,  0.10420906,  0.19209105,  0.75177786,  0.40793007,
       -0.0087283 ,  0.08270284,  0.59970066,  0.31578514, -0.04134414,
        0.45136636,  0.41172766,  0.05107316,  0.87712758,  0.05598347,
        0.40397845,  0.12087099,  0.54176234,  0.72182782, -0.0963055 ,
        0.32790129,  0.29694253,  0.13167116,  0.13814499,  0.40565752,
        0.21273932,  0.17830757,  0.95747132,  0.08317819,  0.65806345,
        0.69464868,  0.31311482,  0.42281379,  0.29890747,  0.14769889,
        0.45650937,  0.08317819,  0.08317819,  0.12176855,  0.16983786,
        0.16488803,  0.46385918,  0.52499066,  0.63156254,  0.53549238,
        0.13724083,  0.38919445,  0.65680483,  0.71954824,  0.08306185,
        0.57121255,  0.85278269,  0.08302715,  0.11638822,  0.85737305,
        0.71795824,  0.06234532,  0.18023923,  0.80996925,  0.58007731,
        0.30965942,  0.7712352 ,  0.14769889,  0.25601064,  0.00749624,
        0.12394208,  0.09017278,  0.10480325,  0.87976686,  0.14769889,
        0.41990225,  1.23386629,  0.13626671,  0.14768654,  0.67684006,
        0.32715819, -0.03575962,  0.76474409])

In [16]:
from sklearn.metrics import (roc_curve, auc, accuracy_score) 

fpr, tpr, thresholds = roc_curve(y_test, predictions, pos_label=1)
auc(fpr, tpr)
accuracy_score(predictions, y_test)

ValueError: Classification metrics can't handle a mix of continuous and binary targets

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,predictions))

# https://www.kaggle.com/punit0811/linear-regression-with-titanic-dataset

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,predictions)